@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK.Mvc.Views.EastSussexGovUK
@using Escc.EastSussexGovUK.Views
@using Escc.WebsiteStyleGuide.Skins
@using Escc.Web
@model Escc.WebsiteStyleGuide.StyleGuidePage
@{
    Model.EsccWebsiteSkin = Skin.SelectedSkin(ViewEngine.Mvc);

    Model.Metadata.Title = "Social media";
    Model.Metadata.DateCreated = "2014-01-07";
    Model.Metadata.IpsvPreferredTerms = "Website management";
    Model.Metadata.IsInSearch = false;

    Html.RequiresJs("~/style-guide.js");
    Html.RequiresJs(JsFileAlias.Resolve("SocialMedia"));
    Html.RequiresCss(CssFileAlias.Resolve("SocialMediaLarge"), MediaQueryAlias.Resolve("Large"));

    var policy = new ContentSecurityPolicyHeaders(Response.Headers);
    var cspConfig = new ContentSecurityPolicyFromConfig();
    policy.AppendPolicy(cspConfig.Policies["Facebook"]);
    policy.AppendPolicy(cspConfig.Policies["Twitter"]);
    policy.UpdateHeaders();

}
@section Metadata {
    @{ Html.RenderPartial("~/Skins/Metadata.ascx"); }
}
@section Header {
    @{
        Html.RenderPartial("~/Skins/SkinChooser.ascx");
        Html.RenderPartial("~/Views/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "HeaderDesktop", BreadcrumbProvider = Model.BreadcrumbProvider });
    }
}
<div class="article">
    <article>
        <div class="@Skin.TextClass(Model.EsccWebsiteSkin)">
            <h1>Social media and partner sites</h1>

            <p>You can see examples of Facebook and Twitter controls on this page, but resize your browser because there are separate ones for small and large screens.</p>
            <p>
                Links to <a href="javascript:return false()" class="twitter">Twitter</a>, <a href="javascript:return false()" class="facebook">Facebook</a>,
                <a href="javascript:return false()" class="instagram">Instagram</a>,
                <a href="javascript:return false()" class="youtube">YouTube</a> and <a href="javascript:return false()" class="flickr">Flickr</a> are preceded by an
                appropriate icon. You can add a class to any element to get the same effect.
            </p>
        </div>

        <div class="social-mobile small medium @Skin.TextClass(Model.EsccWebsiteSkin)">
            <p class="facebook">Find us on Facebook: <a href="http://www.facebook.com/eastsussexlibraries" id="ctl00_content_ctl07_fb">www.facebook.com/eastsussexlibraries</a></p>
            <p class="twitter">Read updates on Twitter: <a href="https://twitter.com/esccroads" id="ctl00_content_ctl07_tw">Tweets by @@esccroads</a></p>
        </div>

        <div class="content text-content">
            <p>Use the <code>~/share.ascx</code> usercontrol in WebForms or <code>EastSussexGovUK/Features/_Share.cshtml</code> partial view (shown here) in MVC to include the share links.</p>
            @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
        </div>

    </article>
</div>

<div class="social large">
    <div class="supporting">
        <div class="fb-page" data-href="http://www.facebook.com/eastsussexlibraries" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="http://www.facebook.com/eastsussexlibraries" class="fb-xfbml-parse-ignore"><a href="http://www.facebook.com/eastsussexlibraries">Find us on Facebook</a></blockquote></div>
    </div>

    <div class="supporting">
        <a class="twitter-timeline" href="https://twitter.com/esccroads">Tweets by @@esccroads</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    @Html.Partial("~/Views/EastSussexGovUK/Features/_EastSussex1Space.cshtml")
</div>