@using ClientDependency.Core.Mvc
@using Escc.WebsiteStyleGuide
@model Escc.WebsiteStyleGuide.StyleGuidePage
@{
    Model.EsccWebsiteSkin = Skin.SelectedSkin();

    Model.Metadata.Title = "Text and tables";
    Model.Metadata.DateCreated = new DateTimeOffset(new DateTime(2014, 1, 7));
    Model.Metadata.IsInSearch = false;

    Html.RequiresJs("~/js/text.js");
}
@section Header {
    @{
        Html.RenderPartial("~/Views/Shared/_SkinChooser.cshtml");
    }
    @Model.TemplateHtml.Header
}
@section Metadata {
    @{ Html.RenderPartial("~/Views/Shared/_Metadata.cshtml"); }
}
<div class="full-page">
    <article>
        <div class="content text-content">
            <h1>Text and tables</h1>
            <p class="lead">
                Inside an element with <code>.text</code> or <code>.content-text</code> applied you get standard text styles for all of the elements you see here, including the Heading 1 above.
                This is a <code>.lead</code> paragraph so can be styled differently depending on the skin.
            </p>
            <p class="aural">You can hear this but you can't see it.</p>
            <h2>Heading 2</h2>
            <p>A paragraph following the heading.</p>
            <p>Two consecutive paragraphs. This one includes an <a id="unvisited" runat="server">unvisited link</a> and a <a href="@Url.Action("Index", "Text")">visited link</a>. Try tabbing to them and hovering over them.</p>
            <ul>
                <li>An unordered list between paragraphs</li>
                <li>An unordered list between paragraphs</li>
            </ul>
            <p>A paragraph following an unordered list.</p>
            <ol>
                <li>An ordered list between paragraphs</li>
                <li>
                    An ordered list between paragraphs
                    <ol>
                        <li>
                            With a nested list
                            <ol>
                                <li>
                                    And another
                                    <ol>
                                        <li>
                                            And another
                                            <ol><li>And another</li></ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
            <p>A paragraph following an ordered list. This one has an <abbr title="It means this">abbreviation</abbr>, some <strong>important text</strong> and a <strong class="warning">warning</strong>.</p>
            <p>
                <a href="#" id="toggle-breadcrumb-mobile" class="toggle-text" data-toggle="Show the mobile breadcrumb trail">Try hiding the mobile breadcrumb trail</a> or <a href="#" id="toggle-breadcrumb" class="toggle-text" data-toggle="Show the desktop breadcrumb trail">try hiding the desktop breadcrumb trail</a>
                to see how the spacing between the site header and the heading 1 changes. Note that <code>.no-breadcrumb</code> should be applied to a container for the page to get the spacing right when there's no breadcrumb.
            </p>
            <h3>Heading 3</h3>
            <p>For subscription options, apply <code>.subscribe</code> to the link along with a class for the type of subscription. If there are multiple subscriptions, apply <code>.subscribe</code> to a containing <code>ul</code> too.</p>
            <ul class="subscribe">
                <li><a href="#" class="subscribe hcal">Subscribe to a calendar</a></li>
                <li><a href="#" class="subscribe rss">Subscribe to an RSS feed</a></li>
                <li><a href="#" class="subscribe email">Subscribe to an email</a></li>
                <li><a href="#" class="subscribe rss-email">Subscribe by choosing RSS or email</a></li>
                <li><a href="#example.vcf" class="subscribe">Save to contacts</a></li>
            </ul>
            <p><a href="https://github.com/east-sussex-county-council/Escc.WebsiteStyleGuide/blob/master/Escc.WebsiteStyleGuide/Views/Text/Index.cshtml">View the source of this page</a> for an example.</p>
            <h4>Heading 4</h4>
            <p>
                You can apply classes to links to add an appropriate icon.
                When these links occur in a list, apply <code>.download</code> to the <code>li</code> element as well to avoid showing two bullets.
            </p>
            <p>An icon indicating that some files open in a new window is added by JavaScript based on the file extension.</p>
            <ul>
                <li class="download"><a href="#.xml" class="xml">XML file</a></li>
                <li class="download"><a href="#.pdf" class="pdf">PDF file <span class="downloadDetail">(PDF, 100K)</span></a></li>
                <li class="download"><a href="#.doc" class="doc rtf">DOC or RTF file <span class="downloadDetail">(DOC, 100K)</span></a></li>
                <li class="download"><a href="#.xls" class="xls">Excel file <span class="downloadDetail">(XLS, 100K)</span></a></li>
                <li class="download"><a href="#.wma" class="wma">Windows media</a></li>
                <li class="download"><a href="#.mp3" class="mp3">MP3 file</a></li>
                <li class="download"><a href="#.ppt" class="ppt">PowerPoint file <span class="downloadDetail">(PPT, 100K)</span></a></li>
                <li class="download"><a href="#.jpg" class="jpg">JPEG image</a></li>
                <li class="download"><a href="#" class="html file">Generic file or HTML page</a></li>
                <li class="download"><a href="#/print">Link to a print view of multi-page content</a></li>
            </ul>
            <h5>Heading 5</h5>
            <p>A paragraph following the heading.</p>
            <dl>
                <dt>A definition list</dt>
                <dd>With a description</dd>
                <dt>And a second item</dt>
                <dd>With a description</dd>
            </dl>
            <h6>Heading 6</h6>
            <p>A paragraph following the heading. There's a horizontal rule next.</p>
            <hr />
            <small>This is the small print.</small>
            <p>Tables can highlight alternate rows with different colours, but in IE8 that's not supported so tables look different in that browser.</p>
            <table>
                <caption>Table caption</caption>
                <thead><tr><th>Column header inside <code>thead</code></th><th>Another column</th><th>Use <code>.numeric</code> for numeric data</th></tr></thead>
                <tbody>
                    <tr><td>Data</td><td>Data</td><td class="numeric">1</td></tr>
                    <tr><td>Data</td><td>Data</td><td class="numeric">2</td></tr>
                    <tr class="subHeading"><td colspan="3">This uses tr<code>.subHeading</code> and the <code>colspan</code> attribute</td></tr>
                    <tr><td>Data</td><td>Data</td><td class="numeric">3</td></tr>
                    <tr><td>Data</td><td>Data</td><td class="numeric">4</td></tr>
                    <tr class="totalsRow"><td>Total</td><td>Total</td><td>This uses tr<code>.totalsRow</code></td></tr>
                </tbody>
            </table>

            <p>Sometimes tables have row headings instead of column headings.</p>
            <table>
                <tbody>
                    <tr><th>Heading</th><td>Data</td><td>Data</td></tr>
                    <tr><th>Heading</th><td>Data</td><td>Data</td></tr>
                    <tr><th>Heading</th><td>Data</td><td>Data</td></tr>
                    <tr><th>Heading</th><td>Data</td><td>Data</td></tr>
                </tbody>
            </table>

            <p>If the table is particularly complex, use <code>.complexData</code> to add more clarity.</p>
            <table class="complexData">
                <thead><tr><th>Column header</th><th>Another column</th><th>Another column</th></tr></thead>
                <tbody>
                    <tr><th>Heading</th><td>Data</td><td>Data</td></tr>
                    <tr><th>Heading</th><td>Data</td><td>Data</td></tr>
                    <tr><th>Heading</th><td>Data</td><td>Data</td></tr>
                    <tr><th>Heading</th><td>Data</td><td>Data</td></tr>
                </tbody>
            </table>
        </div>
    </article>
</div>