<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Escc.AddressAndPersonalDetails" version="2.0.0" targetFramework="net4" />
  <package id="Escc.ClientDependencyFramework.WebForms" version="1.0.0" targetFramework="net452" />
  <package id="Escc.EmbeddedResourceVirtualPathProvider" version="1.0.0" targetFramework="net452" />
  <package id="Escc.FormControls.WebForms" version="1.1.2" targetFramework="net452" />
  <package id="Escc.NavigationControls.WebForms" version="1.0.0" targetFramework="net452" />
  <package id="Escc.Registration.MarriageSkin" version="1.0.0" targetFramework="net452" />
  <package id="Escc.Web" version="1.0.0" targetFramework="net452" />
  <package id="Escc.Web.Metadata" version="1.0.1" targetFramework="net452" />
  <package id="Exceptionless" version="1.5.2121" targetFramework="net452" />
  <package id="Exceptionless.Web" version="1.5.2121" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net452" />
</packages>