/* Stack .article and .full-page */
.section-demo { margin-top: 1.384615em; }

/* Coloured boxes to demo responsive design */
.demo-box { padding: .692308em;border-radius: 5px;}
.demo-box.medium { background: seagreen;color: #fff;}
.demo-box.small {background: lightskyblue;color: #000;}
.demo-box.large { background: plum;color: #000;}

/* Colour swatches */
ul.swatches { list-style-type: none;margin-left: 0; }
ul.swatches ul { list-style-type: square;margin-top: 0;}
.swatch { display: inline-block; height: 30px; width: 30px; vertical-align: middle;margin-right: 5px;}